<div class="container mt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <mat-card class="example-card shadow-lg ">
        <mat-card-header class="border-bottom">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>e-Commerce Gapsi</mat-card-title>
        </mat-card-header>
        <div class="row">
          <div class="col">

          </div>
        </div>
        <div class="col  d-flex justify-content-center">
          <img class="card-img-top m-5 w-50 " src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
            alt="Card image cap">
        </div>
        <mat-card-content class="d-flex justify-content-center">
          <h2>{{welcome}}</h2>
        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-center">
          <button mat-raised-button color="primary" routerLink="/provider">Continuar</button>
        </mat-card-actions>

        <mat-card-footer class="d-flex justify-content-end mt-3 border-top">
          {{version}}
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

 
</div>