<div class="container">
  <div class="row">
    <div class="class mt-5">
      <h1>Listado de proovedores</h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button mat-raised-button color="basic" (click)="openDialog()">Crear Proveedor <i class="ml-2 fa fa-plus-circle"></i></button>

    </div>
  </div>


  <div class="row mt-2">
    <div class="col">
      <table mat-table [dataSource]="providers" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row; columns: displayedColumns; let id = index"> {{id + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="socialreason">
          <th mat-header-cell *matHeaderCellDef> Raz&oacute;n Social </th>
          <td mat-cell *matCellDef="let element"> {{element.socialReason}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Direcci&oacute;n </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> <i (click)="deleteProvider(element.id)" class="fa fa-trash cursor " style="color:red"></i></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>

      </table>

    </div>
  </div>

</div>