<p>
    <mat-toolbar>
        <div routerLink="/provider" class="cursor">
            <span>e-Commerce Gapsi</span>
            <img src="../assets/img/icon.png" alt="">
        </div>
    </mat-toolbar>
</p>


<router-outlet></router-outlet>

<footer>
    <div class="card-footer d-flex justify-content-end">
        {{version}}
      </div>
</footer>