<h1 mat-dialog-title>Crear un nuevo proovedor</h1>
<mat-dialog-content class="mat-typography">
	<form [formGroup]="providerForm" (ngSubmit)="validateForm()" class="example-form example-full-width w-100">
		
		<div class="row">
			<div class="col">
				<mat-form-field class="form-element w-100">
					<mat-label>Nombre</mat-label>
					<input matInput formControlName="name" maxlength="50" required />
					<mat-error *ngIf="providerForm.controls['name'].errors || (providerForm.controls['name'].errors && providerForm.controls['name'].touched)">
						<span class="mr-2" *ngIf="dataForm.name.errors.required">Campo Requerido</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<mat-form-field class="form-element w-100">
					<mat-label>Raz&oacute;n Social</mat-label>
					<input matInput formControlName="socialReason" maxlength="50" required />
					<mat-error *ngIf="providerForm.controls['socialReason'].errors || (providerForm.controls['socialReason'].errors && providerForm.controls['socialReason'].touched)">
						<span class="mr-2" *ngIf="dataForm.socialReason.errors.required">Campo Requerido</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<mat-form-field class="form-element w-100">
					<mat-label>Direcci&oacute;n</mat-label>
					<input matInput formControlName="address" maxlength="50" required />
					<mat-error *ngIf="providerForm.controls['address'].errors || (providerForm.controls['address'].errors && providerForm.controls['address'].touched)">
						<span class="mr-2" *ngIf="dataForm.address.errors.required">Campo Requerido</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<button type="submit" mat-raised-button color="basic">Enviar</button>
				<button mat-button mat-dialog-close>Cancel</button>

			</div>
		</div>
				
	</form>
</mat-dialog-content>